.burger {
  height: 250px;
  width: 100%;
  text-align: center;
  margin: auto;
  overflow: auto;
  font-weight: bold;
}

@media (min-width: 500px) and (min-height: 400px) {
  .burger {
    width: 450px;
    height: 350px;
  }
}

@media (min-width: 1000px) and (min-height: 700px) {
  .burger {
    width: 700px;
    height: 600px;
  }
}
