.InputDiv {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}
.InputDiv label {
  width: 100%;
  display: block;
  font-weight: bold;
  text-align: start;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.InputDiv input,
.InputDiv select {
  width: 100%;
  display: block;
  box-sizing: border-box;
  font: inherit;
  outline: none;
  border: 1px solid #efefef;
  padding: 5px;
}
.InputDiv input:focus,
.InputDiv select:focus {
  outline: none;
  background-color: #ccc;
}
.Invalid::after {
  content: "Invalid Input";
  box-sizing: border-box;
  display: block;
  height: 100%;
  padding: 5px;
  width: 100%;
  text-align: left;
  background-color: salmon;
  color: #fff;
}
